<nav class="navbar navbar-expand-lg navbar-dark navbar-background-gradient"  [ngClass]="fixed ? 'fixed-top': ''" (scroll)="onWindowScroll($event)">
	<nav class="container">
		<button class="navbar-toggler"></button>

		<a class="navbar-brand" routerLink="/">
			<img src="/assets/images/brand.png" class="img-fluid" width="30">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				

				<li class="nav-item">
					<a class="nav-link  pt-3" routerLink="/"> Dashboard 
					
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link  pt-3" routerLink="/about"> About 
					
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link  pt-3" href="#"> FAQ 
					
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link  pt-3"> | 
					
					</a>
				</li>

				<li class="nav-item text-white">
					<div class="bmd-form-group bmd-collapse-inline pull-xs-right pt-2">
					  <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
					    <i class="material-icons">search</i>
					  </button>  
					  <span id="collapse-search" class="collapse">
					    <input class="form-control" type="text" id="search" placeholder="Search dashboard...">
					  </span>
					</div>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item text-right d-md-block d-none d-sm-none">
					<a  href="#" class="nav-link pt-2"> 
						<img src="/assets/images/man.png" class="rounded-circle shadow-sm"> 

					</a>
				</li>

				<li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle pt-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          		George Matthew
		        	</a>
		        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          	<a class="dropdown-item" href="#">Account settings</a>
			          	<a class="dropdown-item" href="#">Another action</a>
			          	<div class="dropdown-divider"></div>
			          	<a class="dropdown-item" href="#">Sign Out</a>
		        	</div>
		      	</li>

				<li class="nav-item">
					<a class="nav-link  pt-3"> | 
					
					</a>
				</li>

				<li class="nav-item">
					<div class="button pt-3">
					    <span class="fa fa-envelope"></span>
					    <span class="button__badge">9</span>
					</div>
				</li>

				<li class="nav-item pl-2">
					<div class="button pt-3">
					    <span class="fa fa-bell"></span>
					    <span class="button__badge">75</span>
					</div>
				</li>

			</ul>
			
		</div>
		
	</nav>
</nav>

<div class="mt-5" [ngClass]="fixed ? 'd-block': 'd-none'"><br></div>