

<div class="table-responsive"  class="collapse"  id="collapseExample">
	<table class="table table-condensed table-borderless table-hover">
		<tbody>
			<tr>
				<td>
			     	<span>Added new post</span> <br>
			     	<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
			     	<small class="pt-2">
			     	Post description or title 1</small><br>
			     	<small class="pt-3 text-muted">
			     	</small>
				</td>
			</tr>

			<tr>
				<td>
			     	<span>Added new post</span> <br>
			     	<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
			     	<small class="pt-2">
			     	Post description or title 2</small><br>
			     	<small class="pt-3 text-muted">
			     	</small>
				</td>
			</tr>

			<tr>
				<td>
			     	<span>Added new comment</span> <br>
			     	<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
			     	<small class="pt-2">
			     	Comment description or title</small><br>
			     	<small class="pt-3 text-muted">
			     	</small>
				</td>
			</tr>

			<tr>
				<td>
			     	<span>Added new friend</span> <br>
			     	<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
			     	<small class="pt-2">
			     	Friend description or title</small><br>
			     	<small class="pt-3 text-muted">
			     	</small>
				</td>
			</tr>

			<tr>
				<td>
			     	<span>Added new post</span> <br>
			     	<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
			     	<small class="pt-2">
			     	Post description or title 3</small><br>
			     	<small class="pt-3 text-muted">
			     	</small>
				</td>
			</tr>
		</tbody>
	</table>
</div>