<div class="table-responsive">
	<table class="table table-condensed table-borderless table-striped">
		<thead class="bg-gradient-navbar-same">
			<tr>
				<th class="float-left mt-3 text-white"><span class="fa fa-envelope"></span> Messages</th>
				<th class="float-right">
					<div class="btn-group pull-xs-right">
					  <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="mw2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <i class="material-icons">more_vert</i>
					  </button>
					  <div class="dropdown-menu" aria-labelledby="mw2">
					    <button class="dropdown-item" type="button">Mark all as read</button>
					    <button class="dropdown-item" type="button">Delete All</button>
					  </div>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<span class="mt-3 text-muted info-text-right float-right"> 
						Read 
					</span>
					<div class="form-check md-checkbox">
					    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					    <label class="form-check-label pl-2 text-info" for="defaultCheck1">
					     	Manny Denver <br><br>
					     	<small class="pt-2 text-muted">
					     	04/11/2018: 7:30pm</small>
					    </label>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<span class="mt-3 text-muted info-text-right float-right"> 
						Read 
					</span>
					<div class="form-check md-checkbox">
					    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
					    <label class="form-check-label pl-2 text-info" for="defaultCheck2">
					     	Anna Krus Marie <br><br>
					     	<small class="pt-2 text-muted">
					     	04/11/2018: 7:30pm</small>
					    </label>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<span class="mt-3 text-muted info-text-right float-right"> 
						Read 
					</span>
					<div class="form-check md-checkbox">
					    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
					    <label class="form-check-label pl-2 text-info" for="defaultCheck3">
					     	Johnny James Jones <br><br>
					     	<small class="pt-2 text-muted">
					     	04/11/2018: 7:30pm</small>
					    </label>
					</div>
				</td>
			</tr>


		</tbody>
	</table>
</div>