/* You can add global styles to this file, and also import other style files */

body, html { 
	margin: 0; 
	font-family: Arial /*Replace with your custom font*/, sans-serif !important; 
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    background: #4B515D;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.navbar-background-gradient{
	background: rgba(123,194,217,1);
	background: -moz-linear-gradient(left, rgba(123,194,217,1) 0%, rgba(98,39,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(123,194,217,1)), color-stop(100%, rgba(98,39,217,1)));
	background: -webkit-linear-gradient(left, rgba(123,194,217,1) 0%, rgba(98,39,217,1) 100%);
	background: -o-linear-gradient(left, rgba(123,194,217,1) 0%, rgba(98,39,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(123,194,217,1) 0%, rgba(98,39,217,1) 100%);
	background: linear-gradient(to right, rgba(123,194,217,1) 0%, rgba(98,39,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bc2d9', endColorstr='#6227d9', GradientType=1 );
}

.footer-background-gradient{
	background: rgba(193,122,255,1);
background: -moz-linear-gradient(left, rgba(193,122,255,1) 0%, rgba(129,122,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193,122,255,1)), color-stop(100%, rgba(129,122,255,1)));
background: -webkit-linear-gradient(left, rgba(193,122,255,1) 0%, rgba(129,122,255,1) 100%);
background: -o-linear-gradient(left, rgba(193,122,255,1) 0%, rgba(129,122,255,1) 100%);
background: -ms-linear-gradient(left, rgba(193,122,255,1) 0%, rgba(129,122,255,1) 100%);
background: linear-gradient(to right, rgba(193,122,255,1) 0%, rgba(129,122,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c17aff', endColorstr='#817aff', GradientType=1 );
}

.bg-gradient{
	background: rgba(123,194,217,1);
	background: -moz-linear-gradient(left, rgba(123,194,217,1) 0%, rgba(39,178,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(123,194,217,1)), color-stop(100%, rgba(39,178,217,1)));
	background: -webkit-linear-gradient(left, rgba(123,194,217,1) 0%, rgba(39,178,217,1) 100%);
	background: -o-linear-gradient(left, rgba(123,194,217,1) 0%, rgba(39,178,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(123,194,217,1) 0%, rgba(39,178,217,1) 100%);
	background: linear-gradient(to right, rgba(123,194,217,1) 0%, rgba(39,178,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bc2d9', endColorstr='#27b2d9', GradientType=1 );
}

.bg-gradient-navbar-same{
	background: rgba(98,39,217,1);
}

.nav-link{
	color: whitesmoke !important;
	letter-spacing: 1px;
	text-transform: capitalize;
}
