footer {
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    font-size: 13px !important;
}

a{
	color: gray !important;
}

.social{
    color: whitesmoke !important;
    font-weight: 500px !important;
    
}