<footer class="py-5 footer-background-gradient mt-5">
	<div class="container">
		<div class="row gap-y">
			<div class="col-12 col-md-12 text-center">
				<div class="social text-center text-white pt-0">
					Social Media: 
					<a class="social px-2" href="https://www.facebook.com/sherwin.dapito" target="_blank"><i class="fa fa-facebook"></i></a>
					<a class="social px-2" href=""><i class="fa fa-twitter"></i></a>
					<a class="social px-2" href=""><i class="fa fa-google"></i></a>
					<a class="social px-2" href=""><i class="fa fa-instagram"></i></a>
				</div>
				<hr>
				<p class="fs-13 text-light">Created by Sherwin Dapito. Copyright © 2018.</p>
			</div>
		</div>
	</div>
</footer>